@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color-rgb: 255, 255, 255; /* Set background color to white */
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color-rgb: 255, 255, 255; /* Ensure background remains white in white color scheme */
  }
}

body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color-rgb)); /* Use plain white background */
}
